[user]
	name = Max Marrone
	email = max@marrone.nyc
	signingkey = 229D4C1CFA0EF210
[credential]
	username = SyntaxColoring
	helper = cache
[push]
	default = simple
[merge]
	conflictstyle = diff3
[commit]
	gpgsign = true
